{% include 'components/header.html' %}
<body>
  {% include 'components/top-header.html' %} {% include
  'components/middle-header.html' %} {% include 'components/navbar.html' %}
  <!-- breadcrumbs -->
  <!-- breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <ol
        class="breadcrumb breadcrumb1 animated wow slideInLeft"
        data-wow-delay=".5s"
      >
        <li>
          <a href="index.html"
            ><span class="glyphicon glyphicon-home" aria-hidden="true"></span
            >Home</a
          >
        </li>
        <li class="active">About</li>
      </ol>
    </div>
  </div>
  <!-- //breadcrumbs -->
  <!-- about -->
  <div class="about">
    <div class="container">
      <h3 class="w3_agile_header">About Us</h3>
    </div>
  </div>
  <!-- //about -->
  <!-- about-slid -->
  <div class="about-slid agileits-w3layouts">
    <div class="container">
      <div class="about-slid-info">
        <p>
          <p>We are students of Orchid International College, Anuj, Milan, and Samir, working on building a sales prediction system for Big Mart using machine learning algorithms. Our project aims to predict future sales trends and provide valuable insights to optimize business strategies.</p>
            <p>Utilizing the power of machine learning, we analyze historical sales data and various influencing factors to generate accurate predictions for future sales performance. With our combined expertise and dedication, we strive to deliver a reliable and innovative solution that meets the needs of our clients.</p>
            <p>At Orchid International College, we are passionate about leveraging technology to drive positive change and solve real-world problems. Through our project, we aim to demonstrate our skills, creativity, and commitment to excellence in the field of data science and predictive analytics.</p>
        </p>
      </div>
    </div>
  </div>
  <!-- //about-slid -->
  <!-- about-team -->
  <div class="about-team">
    <div class="container">
      <h3 class="w3_agile_header">Meet Our Team</h3>
      <div class="team-agileitsinfo">
        <div class="col-md-3 about-team-grids">
          <img src="../static/images/anuj.jpg" alt="" />
          <div class="team-w3lstext">
            <h4><span>Anuj Paudel,</span> Frontend Developer</h4>
          </div>
          <div class="social-icons caption">
            <ul>
              <li><a href="#" class="fa fa-facebook facebook"> </a></li>
              <li><a href="#" class="fa fa-twitter twitter"> </a></li>
              <li><a href="#" class="fa fa-google-plus googleplus"> </a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-3 about-team-grids">
          <img src="../static/images/milan.jpg" alt="" />
          <div class="team-w3lstext">
            <h4><span>Milan,</span> Frontend</h4>
          </div>
          <div class="social-icons caption">
            <ul>
              <li><a href="#" class="fa fa-facebook facebook"> </a></li>
              <li><a href="#" class="fa fa-twitter twitter"> </a></li>
              <li><a href="#" class="fa fa-google-plus googleplus"> </a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-3 about-team-grids">
          <img src="../static/images/samie.jpg" alt="" />
          <div class="team-w3lstext">
            <h4><span>Samir Oli,</span> Backend</h4>
          </div>
          <div class="social-icons caption">
            <ul>
              <li><a href="#" class="fa fa-facebook facebook"> </a></li>
              <li><a href="#" class="fa fa-twitter twitter"> </a></li>
              <li><a href="#" class="fa fa-google-plus googleplus"> </a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- //about-team -->
  {% include 'components/footer.html' %}
</body>
